$color-main: #608eb5;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: black;
  font-size: 14px;
  background-color: white;
  //font-family: 'Hind', 'Arial', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}
