include mixins/layout.mixins.jade

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="description" content='Cavalier')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="icon" type="image/x-icon" href="img/favicon.ico")
        title
            block title
        link(href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet")
        //build:css css/vendor.min.css
        +vendor('style', 'normalize-css/normalize.css')
        +vendor('style', 'font-awesome/css/font-awesome.css')
        +vendor('style', 'bxslider/jquery.bxslider.css')
        //endbuild
        link(rel="stylesheet" href="css/styles.min.css")
    body
        header.header
            .header_box
                .header__wrap
                    .header__info
                        | Easy Returns
                        i.fa.fa-circle(aria-hidden="true")
                        | Free shipping on all orders over 100$
                        span.header__delimiter |
                        i.fa.fa-phone(aria-hidden="true")
                        | Call support free:
                        span.header__phone 123-45-67-890
                    .header__cart.cart
                        ul.cart__list
                            li.cart__item
                                a.cart__link(href="#")
                                    i.fa.fa-user-o(aria-hidden="true")
                            li.cart__item
                                a.cart__link(href="#")
                                    i.fa.fa-heart-o(aria-hidden="true")
                            li.cart__item
                                a.cart__link(href="#")
                                    i.fa.fa-shopping-basket(aria-hidden="true")
                                .cart__count.basket
                                    .basket__number 1

            .logo
                a.logo__link(href="index.html")
                    img.logo__img(src="img/logo.png" alt="Logo")

            nav.nav
                ul.nav__list
                    - var links = ["New", "Woman", "Kids", "Lookbook", "Sale", "About us"];
                        each val in links
                            li.nav__item
                                a.nav__link(href="#")= val
                    li.nav__item
                        a.nav__link(href="#")
                            i.fa.fa-search(aria-hidden="true") search

        block content

        include footer.jade

        script(src="js/jquery.min.js")
        script(src="js/jquery.bxslider.js")

        //build:js js/main.min.js
        script(src="../../js/slider.js")
        //endbuild