.header_box {
  background: url("../img/background.png") repeat;
  border-bottom: 1px solid #f8f6f6;
}

.header__wrap {
  margin: 0 auto;
  width: 1170px;
  padding-top: 12px;
  padding-bottom: 11px;
}