extends ../main.layout

block title
    | Cavalier

block content
    .slider
        ul#slider-main.slider__list
            li.slider__item
                img.slider__image(src="img/slider01.jpg" alt="background01")
                .slider__inner.promo
                    h2.promo__title Best theme for ecommerce
                    img.promo__pic(src="img/cavalier-slider.png")
                    .promo__desc When we seek to discover the best in others, we somehow bring out the best in ourselves. A man does not have to be an angel in order to be saint. Do noble things, do not dream them all day long. You have to believe in yourself. Never bend your head, always hold it high. Look the world straight in the face.
                    a.btn(href="#")
                    a.btn.btn--invert(href="#")
            li.slider__item
                img.slider__image(src="img/slider02.jpg" alt="background02")
                .slider__inner.promo
                    h2.promo__title Best theme for ecommerce
                    img.promo__pic(src="img/cavalier-slider.png")
                    .promo__desc When we seek to discover the best in others, we somehow bring out the best in ourselves. A man does not have to be an angel in order to be saint. Do noble things, do not dream them all day long. You have to believe in yourself. Never bend your head, always hold it high. Look the world straight in the face.
                    a.btn(href="#")
                    a.btn.btn--invert(href="#")
            li.slider__item
                img.slider__image(src="img/slider03.jpg" alt="background03")
                .slider__inner.promo
                    h2.promo__title Best theme for ecommerce
                    img.promo__pic(src="img/cavalier-slider.png")
                    .promo__desc When we seek to discover the best in others, we somehow bring out the best in ourselves. A man does not have to be an angel in order to be saint. Do noble things, do not dream them all day long. You have to believe in yourself. Never bend your head, always hold it high. Look the world straight in the face.
                    a.btn(href="#")
                    a.btn.btn--invert(href="#")

    .features
        h2.features__title Featured Products
        .features__row
            .features__item.feature
                a.feature__link(href="#") Link
                .feature__photo
                    img.feature__image(src="#")
                .feature__name Man Jacket
                .feature__price $237
                img.feature__background(src="#")
            .features__item.feature
                a.feature__link(href="#") Link
                .feature__photo
                    img.feature__image(src="#")
                .feature__name Man Jacket
                .feature__price $237
                img.feature__background(src="#")
            .features__item.feature
                a.feature__link(href="#") Link
                .feature__photo
                    img.feature__image(src="#")
                .feature__name Man Jacket
                .feature__price $237
                img.feature__background(src="#")
            .features__item.feature
                a.feature__link(href="#") Link
                .feature__photo
                    img.feature__image(src="#")
                .feature__name Man Jacket
                .feature__price $237
                img.feature__background(src="#")
        .features__control.control
            .control__left Left
            .control__right Right

    .advertisments
        .advertisments__item.advertisments__item--big.adv
            .adv__desc For man’s
            .adv__subject Accesories
            a.adv__link(href="#") check it now
        .advertisments__item.adv.adv--left
            .adv__desc.adv__desc--black For man’s
            .adv__subject Accesories
            a.adv__link(href="#") check it now
        .advertisments__item.adv.adv--right
            .adv__desc.adv__desc--black Spring collection
            .adv__subject Accesories
            a.adv__link(href="#") check it now

    .products
        h2.products__title Recent Products
        .products__menu.nav.nav--products
            ul.nav__list
                li.nav__item
                    a.nav__link.nav__link--active(href="#") All
                li.nav__item
                    a.nav__link(href="#") Suit’s
                li.nav__item
                    a.nav__link(href="#") Jacket’s
                li.nav__item
                    a.nav__link(href="#") Pants
                li.nav__item
                    a.nav__link(href="#") Accesories
        .products__wrap
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="#")
                .product__name Man Jacket
                .product__price $237
                img.product__background(src="#")
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
        .products__control.control.control--products
            .control__left Left
            .control__right Right

    .sale
        .sale__wrap
            h2.sale__title Made to Measure
            img.sale__img(src="img/hr.svg" width="139" height="18")
            img.sale_desc(src="#")
            a.btn(href="#")

    .news
        h2.news__title Latest News
        ul.news__list
            li.news__item.item-news
                .item-news__pict
                    img.item-news__image(src="#")
                h3.item-news__title Barneys’ Windows Get an Exciting Update From Isabel Marant
                .item-news__wrap
                    i.fa.fa-clock-o(aria-hidden="true") clock
                    .item-news__date November 25, 2015
                    i.fa.fa-link(aria-hidden="true") link
                    a.item-news__link(href="#")
                        span.item-news__tag Fashion
                    p.item-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.
                    a.btn(href="#")
            li.news__item.item-news
                .item-news__pict
                    img.item-news__image(src="#")
                h3.item-news__title Barneys’ Windows Get an Exciting Update From Isabel Marant
                .item-news__wrap
                    i.fa.fa-clock-o(aria-hidden="true") clock
                    .item-news__date November 25, 2015
                    i.fa.fa-link(aria-hidden="true") link
                    a.item-news__link(href="#")
                        span.item-news__tag Fashion
                    p.item-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.
                    a.btn(href="#")
            li.news__item.item-news
                .item-news__pict
                    img.item-news__image(src="#")
                h3.item-news__title Barneys’ Windows Get an Exciting Update From Isabel Marant
                .item-news__wrap
                    i.fa.fa-clock-o(aria-hidden="true") clock
                    .item-news__date November 25, 2015
                    i.fa.fa-link(aria-hidden="true") link
                    a.item-news__link(href="#")
                        span.item-news__tag Fashion
                    p.item-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.
                    a.btn(href="#")

    .brends
        ul#slider-brends.brends__list
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand01.png" alt="brand01")
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand02.png" alt="brand02")
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand03.png" alt="brand03")
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand04.png" alt="brand04")
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand05.png" alt="brand05")
            li.brends__item
                .brends__picture
                    img.brends__image(src="img/brands/brand06.png" alt="brand06")

    .modules
        .modules__wrap
            .modules__row
                h3.modules__title Shipping & return policy
                p.modules__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                ul.modules__list.items
                    li.items__item Lost her marbles ended up brown bread
                    li.items__item Snotty nosed brat it's nicked.
                    li.items__item Fish fingers and custard scouser teacakes
                    li.items__item Laughing gear what a doddle
                    li.items__item Figgy pudding spam fritters gob barmy
                p.modules__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .modules__row
                h3.modules__title Why choose the cavalier shop
                .modules__accordion.accordion
                    h4.accordion__title We always use responsive design
                    .accordion__photo
                        img.accordion__photo(src="#" alt="Photo01")
                    p.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    h4.accordion__title We have super UI design
                    .accordion__photo
                        img.accordion__photo(src="#" alt="Photo02")
                    p.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    h4.accordion__title Ux optimize
                    .accordion__photo
                        img.accordion__photo(src="#" alt="Photo03")
                    p.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    h4.accordion__title You will love this theme
                    .accordion__photo
                        img.accordion__photo(src="#" alt="Photo04")
                    p.accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
