.header_box {
  background: url("../img/background.png") repeat;
  border-bottom: 1px solid #f8f6f6;
  margin-bottom: 41px;
}

.header__wrap {
  box-sizing: border-box;
  @include clearfix();
  margin: 0 auto;
  width: 1170px;
  padding-top: 18px;
  padding-bottom: 7px;
}

.header__delimiter {
  display: inline-block;
  padding-left: 17px;
}

.header__info {
  box-sizing: border-box;
  //padding-top: 6px;
  //padding-bottom: 3px;
  float: left;
  cursor: default;
}

.cart {
  float: right;
}

.cart__list {
  display: flex;
  justify-content: space-between;
}

.cart__item {
  margin-right: 16px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.cart__link {
  display: inline-block;
  width: 23px;
  height: 23px;

}

.cart__count {
  position: absolute;
  top: 14px;
  left: 12px;
  display: block;
  border-radius: 50%;
  background-color: #e74c39;
  width: 16px;
  height: 16px;
}

.basket__number {
  font-family: 'Myriad Pro', 'Times New Roman', serif;
  color: #fefefe;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

.logo {
  margin: 0 auto 37px;
  width: 1170px;
}

.logo__link {
  display: block;
  overflow: hidden;
  width: 177px;
  height: 43px;
  margin: 0 auto;
}

.logo__img {
  width: 100%;
  height: auto;
}

.nav{
  margin: 0 auto 38px;
  width: 1170px;
}

.nav__link{
  color:  #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
