.header__info {
  .fa-circle {
    font-size: 10px;
    margin-right: 6px;
  }
  .fa-phone {
    font-size: 14px;
    //margin-left: 18px;
    margin-right: 10px;
  }
}

.cart {
  .fa {
    color: #5a5a5a;
    font-size: 22px;
    text-align: left;
    transition: color 0.5s ease;
    &:hover {
      color: $color-main;
    }
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.item-news__wrap {
  .fa-clock-o {
    margin-right: 8px;
  }
  .fa-link {
    margin-right: 8px;
  }
}