.header__info {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.header__phone {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #5f8eb6;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-left: 5px;
}