.promo__title {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #fefefe;
  font-size: 30px;
  font-weight: 300;
  line-height: 21px;
  text-align: left;
  margin-bottom: 13px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  animation-name: bounceInLeft;
  animation-duration: 0.75s;
}

.promo__desc {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #fefefe;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-bottom: 30px;
  max-width: 500px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  animation-name: zoomIn;
  animation-duration: 0.75s;
}

.features__title, .products__title, .news__title, .modules__title {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #606060;
  font-size: 25px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-bottom: 119px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.product__name, .product__price {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #606060;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0;
  margin: 0;
  overflow: hidden;
  padding: 13px 22px 2px;
  text-overflow: ellipsis;
  text-transform: none;
  white-space: nowrap;
  transition: color .7s ease;
}

.product__price {
  padding: 0 20px 20px;
}

.product__link {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(100% - 30px);
  height: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.product__link:before {
  background-color: #f2f2f2;
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 50%;
  width: 200%;
  z-index: -1;
  transform: skewY(14deg);
  transform-origin: 0 0 0;
}

.commercial_desc {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  //margin-bottom: 19px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.commercial__desc--black {
  color: black;
  text-transform: uppercase;
  text-shadow: rgb(255, 255, 255) 0 0 5px;
}

.commercial__subject {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  //text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

.commercial__subject--big {
  font-size: 40px;
}

.products__title {
  margin-bottom: 21px;
}

.popup__link {
  //display: inline-block;
  @include inline-block-top();
  background-color: white;
  border-radius: 50%;
  color: #606060;
  font-size: 16px;
  height: 46px;
  width: 46px;
  line-height: 49px;
  margin-right: 4px;
  right: 50%;
  text-align: center;
  padding: 0;
  transition: background-color .7s ease;
  &:hover {
    background-color: $color-main;
    color: white;
  }
}

.sale__title {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #454344;
  font-size: 62px;
  font-weight: 400;
  line-height: 75px;
  text-align: center;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.news__title {
  margin-bottom: 52px;
}

.item-news__title {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 21px;
}

.item-news__date {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-right: 18px;
}

.item-news__tag {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #828282;
  font-size: 12px;
  font-style: italic;
  line-height: 27px;
  text-align: left;
}

.item-news__text {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #828282;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-bottom: 24px;
}

.item-news__link {
  margin-right: 8px;
}

.item-news__tag {
  transition: color .3s ease;
  &:hover {
    color: $color-main;
  }
}

.modules__title {
  margin-bottom: 26px;
  text-align: left;
}

.modules__text {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #828282;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  margin-bottom: 19px;
  &:last-child {
    margin-bottom: 0;
  }
}

.items__item {
  font-family: 'Hind', 'Arial', sans-serif;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  &:before {
    content: "";
    width: 7px;
    height: 1px;
    background-color: #5f8eb6;
    position: absolute;
    top: 9px;
    left: -20px;
    display: block;
  }
}

.accordion__title{
  font-family: 'Playfair Display', 'Times New Roman', serif;
  color: #606060;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 30px;
  background-color:  #f6f6f6;
  margin-bottom: 21px;
  border-radius: 22px;
}

.accordion__text{
  font-family: 'Hind', 'Arial', sans-serif;
  color: #828282;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

